/* @media (prefers-color-scheme: dark) {
  body, section.section {
    background-color: #234;
    color: #e4e4e4;
  }
  * {
    color: #d3d6d9!important;
    border-color: #d3d6d999!important;
  }
  section.section, input, select {
    border: 1px solid #d3d6d966;
    background-color: #000!important;
  }
  img {
    filter: grayscale(30%);
  }
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 125%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* form */
select {
  width: 150px;
}
input[type="radio"] {
  font-size: 125%;
}

/* override */
button:hover{
  color: currentColor;
  backgtound-color: currentColor;
}